.infoBox{
    overflow-x: hidden;
    background:#fff;
    .infotop{
        padding:0.2rem 0.3rem 0.3rem;
        // margin:0 0.3rem;
        background:#f4f4f4;
        h3{
            height:0.7rem;
            padding-top:0.1rem;
            font-size:0.44rem;
            color:#333;
            display: flex;
            align-items: center;
            position: relative;
            margin-bottom:0;
            &>img{
                width:0.43rem;
                height:0.52rem;
                margin-left:0.1rem;
            }
            span{
                width:0.36rem;
                height:0.36rem;
                background:url(../image/shoucang.png) no-repeat center top;
                background-size:0.37rem 0.8rem;
                background-position:-0.01rem -0.01rem;
                display: block;
                float: right;
                margin-top:0.22rem;
                position: absolute;
                right:0;
                top:50%;
                margin-top:-0.18rem;
                &.active{
            
                    background-position:-0.01rem -0.42rem;
                }
            }
        }
        p.starcon{
            b{
                color:#ff4c11;
                margin:0 0.2rem 0 0.1rem;
            }
        }
        p.address{
            position: relative;
            padding-left:0.32rem;
            margin-top:0.05rem;
            font-size:0.28rem;
            height:0.4rem;
            &::after{
                content:'';
                position: absolute;
                width:0.23rem;
                height:0.36rem;
                top:0.03rem;
                left:0;
                padding-left:0.5rem;
                background:url(../image/star.png) no-repeat;
                background-size:0.3rem 1.65rem;
                background-position: -0.03rem -0.95rem;

            }
           
        }
        p.peoson{
            position: relative;
            padding-left:0.32rem;
            font-size:0.28rem;
            &::after{
                content:'';
                position: absolute;
                width:0.3rem;
                height:0.36rem;
                top:0.03rem;
                left:0;
                padding-left:0.5rem;
                background:url(../image/star.png) no-repeat;
                background-size:0.3rem 1.65rem;
                background-position: -0.03rem -1.28rem;

            }
           
        }
    }
    .topnav{
        box-shadow: none;
    }
    .lessonCon{
        padding:0 0.3rem 0.4rem;
        border-bottom: 0.16rem solid #f8f8f8;
        
    }
    .jianjie{
        font-size:0.26rem;
        color:#333;
        padding:0.3rem 0.3rem;
        border-bottom: 0.16rem solid #f8f8f8;
        p {
            span.neirong{
                height: auto;
                overflow: auto;
                text-align: left;
                &.heightauto {
                  overflow: hidden;
                  max-height:105px;
                  display: block;
                }
              }
              font {
                color: #f1a91e;
                display: block;
                text-align: center;
                padding-top: 0.05rem;
              }
            }
        b{
            font-size:0.3rem;
            line-height:0.6rem;
        }
        span{
            text-align: center;
            display: block;
            font-size:0.25rem;
            color:#999;
            margin-top:0.2rem;
        }
    }
    .pingjia{
        font-size:0.26rem;
        color:#333;
        padding:0.3rem;
        border-bottom: 0.16rem solid #f8f8f8;
        &>button{
            display: block;
            width:1.92rem;
            height:0.56rem;
            border-radius: 0.8rem;
            background:#ff4c11;
            color:#fff;
            margin:0.6rem auto 0;
            font-size:0.3rem;
        }
        b{
            font-size:0.3rem;
            line-height:0.6rem;
        }
        &>ul {
            &>li{
                height:0.7rem;
                display: flex;
                align-items: center;
                font{
                    font-size:0.26rem;
                    margin-right:0.2rem;
                }
                span{
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
    .sayping{
        height:3rem;
        border:0.02rem solid #e7e7e7;
        border-radius:0.2rem;
        padding:0.2rem 0.1rem 0rem;
        box-sizing: border-box;
        margin-top:0.3rem;
        position: relative;
       background: #f8f8f8;
        textarea{
            display: block;
            width:100%;
        }
        &>span{
            position: absolute;
            bottom:0.05rem;
            right:0.05rem;
            color:#999;
            font-size:0.24rem;
            font{
                color:#ffbc00;
            }
        }
        .imgBox{
            position:absolute;
            bottom:0;
            width:5rem;
            height:1.4rem;
        }
    }
    .anticon-star:before{
        color:#dadada;
    }
    .ant-rate-star-full .anticon-star:before{
        color:#ff4c11;
    }
    .ant-rate-text{
        color:#ff4c11;
        font-size:0.26rem;
        line-height:0.2rem;
    }
    .swiperLeft {
        width:100%;
        overflow:hidden;
         height:2.26rem;
         padding-right:0.1rem;
        //  box-sizing: border-box;
        background:#f4f4f4;
         padding:0;
        ul {
          display: flex;
          flex-wrap: nowrap;
          overflow-x:auto;
          padding-right:0.2rem;
          &::-webkit-scrollbar{
            width:0;
            height:0;
            display: none;
          }
          li {
            width:3.05rem;
            height:1.96rem;
            margin:0 0.1rem;
            border-radius:0.15rem;
            display: flex;
           
            p{
               width:3.05rem;
              height:1.96rem;
              //  overflow: hidden;
              position: relative;
            &>img{
              width:3.05rem;
              height:1.96rem;
              display: block;
              border-radius:0.15rem;
                }
                span{
                  position: absolute;
                  width:0.69rem;
                  height:0.69rem;
                  top:50%;
                  left:50%;
                  margin-top:-0.35rem;
                  margin-left:-0.35rem;
                  img{
                    width:0.69rem;
                    height:0.69rem;
                  }
                }
            }
          
          }
        }
      }
}
html:not([data-scale]) .am-tabs-default-bar-top .am-tabs-default-bar-tab::after{
    background: none;
}
.video_pup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    video {
      width: 7rem;
      height: 6rem;
    }
    i {
      font-size: 0.8rem;
      color: #fff;
      margin-top: 0.3rem;
    }
  }
  .ant-rate{
      color:#ff4c11
  }